:root{
    // Margin
    --m0:0px;
    --m8:8px;
    --m16:16px;
    --ma24:24px;
    --m32:32px;
    --m40:40px;
    --m48:48px;
    --m56:56px;
    --m64:64px;
    --m80:80px;
    --m88:88px;
    


    // Padding
    --p0:0px;
    --p8:8px;
    --p16:16px;
    --pa24:24px;
    --p32:32px;
    --pa40:40 px;
    --p48:48px;
    --p56:56px;
    --p64:64px;
    --p80:80px;
    --p88:88px;
    
    


}